h1 {
    color: white;
}

body {
    font-family: Arial;
    background-color: #f4f4f4;
}

header {
    background-color: #003366;
    color: white;
    padding: 20px;
    text-align: center;
}

h2 {
    color: #003366;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50px;
}

ul {
    background-color: white;
    padding: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}